.main-banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #8ea4a5; /**/
    border-bottom: solid 10px #000;
    padding-top: 16px;
    padding-bottom:16px;
}

.main-banner .wrapper {
    display:flex;
    flex-direction: column;
    max-width: 630px;
    margin-top:auto;
    margin-bottom:auto;
}

.main-banner .navigation {
    display: flex;
    justify-content:space-around; 
    margin-top: 38px;
}
